body{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      font-family: 'DM Serif Display', serif;
      background-image: linear-gradient(red,yellow,aqua,white,green,violet);

}
#cont{
      border: 5px solid black;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(208, 248, 248);
      width: 30%;
      border-radius: 15px;

}


form marquee{
      margin-top: 15px ;
      color: red;
      font-size: 35px;
      text-shadow: 1px 1px black;
      text-align: center;
      background-color: yellow;
      width: 100%;
      border: 4px solid black;
      height: 60px;
}
form label{
      color: rgb(71, 4, 71);
      text-align: center;
      font-size: 19px;     
}
form .Sign{
      letter-spacing: 3px;
      width: 85%;
      border-radius: 6px;
      justify-content: center;
      height: 20px;
      border-bottom: 4px solid black;
}
#first{
      color: red;
}
#first::placeholder{
      color: green;
      font-size: 15px;
}
#last{
      color: red;
}
#last::placeholder{
      color: green;
      font-size: 15px;
}
#emails{
      color: rgb(52, 2, 52);
}
#emails::placeholder{
      color: green;
      font-size: 15px;
}
#Mobile{
      color: red;
}
#Mobile::placeholder{
      color: green;
      font-size: 15px;
}
#create{
      color: red;
}
#create::placeholder{
      color: green;
      font-size: 15px;
}
#confirm{
      color: red;
}
#confirm::placeholder{
      color: green;
      font-size: 15px;
}
form .gen{
      margin-left: 30px;
}
form #DOB{
      width: 85%;
}
#url{
      color: red;
}
#url::placeholder{
      color: green;
      font-size: 15px;
}
hr{
      border: 1px solid rgb(171, 163, 163);
}
form #btn{
      display: flex;
      justify-content: space-between;
}
button{
      width: 125px;
      height: 60px;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      background-color: black;
      color: white;
      font-size: 20px;
}
form #select{
      height: 30px;
}
#sign{
      background-color: crimson;
}
#cancel{
      background-color: blue;
}